body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
    width: 50%;
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #ff69b4;
}

label {
    color: #ff69b4;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

input {
    width: 80%;
}

button {
    background-color: #ff69b4;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: #e65c9f;
}

.message {
    margin-top: 20px;
    color: #ff69b4;
    font-weight: bold;
}
