body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    background: url('snakes.jpg') no-repeat center center fixed;
    background-size: cover;
    line-height: 1.6;
}


.header {
    background-color: #FF007F;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.navbar a {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #FF007F;
}

.game-preview,
.learning-section {
    padding: 2rem;
}

#gameCanvas {
    border: 2px solid #FF007F;
    margin: 1rem auto;
    background-color: #111;
}

button {
    background-color: #FF007F;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #E60073;
}

#code-editor {
    width: 90%;
    margin: 1rem auto;
    display: block;
    background-color: #111;
    color: #fff;
    border: 1px solid #FF007F;
    padding: 1rem;
    border-radius: 5px;
}

#output {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #1ef34a;
}

.start{
    position: absolute;
    top: 103%;
    left: 38%;
    margin-bottom: 8px;

}
.startLearning{
    position: absolute;
    top: 103%;
    left: 52%;
    margin-bottom: 8px;

}