body {
    scroll-behavior: smooth;
  }
  .nav{
    background-color: rgba(0, 0, 0, 0.2);
    height: 50px;
  }
  .logo{
    margin-left: -50px;
    margin-top: 20px;
  }
  .textcolor{
    color: white;
    font-weight: 800;
   
  }
  .textcolor:hover{
    color:#ff186d ;
   
  
  }
  
  
  
  /* Hero Section */
  .hero-section {
    position: relative;
    height: 100vh;
    background: url('images/bg3.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black overlay with 50% opacity */
    z-index: 1;
  }
  
  .hero-section .container {
    position: relative;
    z-index: 2; /* Ensures text appears above the overlay */
  }
  
  
  .hero-section h1 {
    margin-top: 20px; /* Adjust this as needed for additional spacing */
    font-size: 4rem;
    font-weight: 700;
  }
  
  /* About Section */
  #about img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  /* Portfolio Section */
  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  /* Footer */
  footer {
    color: white;
    font-weight: 700;
  }
  
  .blue-text {
  
    
     color: #ff186d;
  }
  .btncolor{
    background:#ff186d;
    color: #000000;
    font-weight: 600;
  
  }
  .btncolor:hover{
    background: #3e3e3e;
  }
  .white-text {
    color: #fff;
  }
  .lead{
    font-weight: 400;
  }
  /* Typing Effect Without Cursor */
  .typing-effect {
    display: inline-block;
    overflow: hidden; /* Ensures content is hidden until "typed" */
    white-space: nowrap; /* Keeps text in a single line */
    animation: typing 3s steps(20, end); /* Typing effect only */
  }
  
  /* Typing animation */
  @keyframes typing {
    from {
      width: 0; /* Start with no text visible */
    }
    to {
      width: 100%; /* Reveal all text */
    }
  }
  
  
  .about{
    height: 100vh;
    margin-top: 100px;
  }